.navbar {
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0rem 0.2rem 1rem var(--secondary);
  color: var(--secondary);
  display: flex;
  font-size: 1.7rem;
  justify-content: flex-end;
  height: auto;
  opacity: 95%;
  padding: 2rem 10%;
  position: fixed;
  width: 100%;
}

.navbar__links {
  color: var(--secondary);
  display: flex;
  gap: 5rem;
}

.navbar__links > a:hover {
  color: var(--secondary);
  text-decoration: underline 0.2rem;
  text-underline-offset: 1rem;
}

@media(max-width: 768px) {
  .navbar {
    display: none;
  }
}
