.contact_floating {
  align-items: center;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  opacity: 95%;
  padding: 2rem 1rem;
  position: fixed;
  left: 1%;
  top: 40%;
  width: auto;
  z-index: 3;
}

.contact_floating > :is(a:hover, a:active) {
  scale: 1.05;
}

@media(max-width: 768px) {
  .contact_floating {
    display: none;
  }
}
