.navbar {
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0rem 0.2rem 1rem var(--shadow);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

.navbar__profile {
  align-items: center;
  display: flex;
  font-size: 2rem;
  gap: 2rem;
}

.navbar__picture {
  border: 0.3rem solid var(--white);
  border-radius: 50%;
}

.navbar__links {
  display: flex;
  font-size: 2rem;
  gap: 5rem;
}

.navbar__links > a:hover {
  color: var(--dodger-blue);
}
