.main_button {
  background-color: var(--secondary);
  border: solid 0.2rem var(--primary);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--primary);
  color: var(--primary);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
}

.main_button:hover {
  scale: 1.05;
}
